.word--swing,.word--swing2,.word--swing3,.word--swing4,.word--swing5,.word--swing6 {
	font-size: 7vw;
	font-family: 'Londrina Solid', serif;
	font-weight: 400;
	text-transform: uppercase;
	/* color: #ea757f; */
	line-height: 0.725;
	perspective: 800px;
}
.word--swing {
	color: #ea757f;
}
.word--swing2 {
	color: #7577ea;
}
.word--swing3 {
	color: #8dea75;
}
.word--swing4 {
	color: #e2e623;
}
.word--swing5 {
	color: #ffc107;
}
.word--swing6 {
	color: #6830cb;
}

.word--swing svg,.word--swing2 svg,.word--swing3 svg,.word--swing4 svg,.word--swing5 svg,.word--swing6 svg {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 450px;
	height: 510px;
	margin: -255px 0 0 -225px;
	pointer-events: none;
}

.word--swing svg circle,.word--swing2 svg circle,.word--swing3 svg circle,.word--swing4 svg circle,.word--swing5 svg circle,.word--swing6 svg circle {
	fill: currentColor;
	opacity: 0;
	transform-origin: 50% 50%;
}

.word--swing span,.word--swing2 span,.word--swing3 span,.word--swing4 span,.word--swing5 span,.word--swing6 span {
	display: block;
	position: relative;
}

.word--swing span span:first-of-type,.word--swing2 span span:first-of-type,.word--swing3 span span:first-of-type,.word--swing4 span span:first-of-type,.word--swing5 span span:first-of-type,.word--swing6 span span:first-of-type {
	position: absolute;
	font-family: 'Londrina Outline';
}

.word--swing span span:last-of-type,.word--swing2 span span:last-of-type,.word--swing3 span span:last-of-type,.word--swing4 span span:last-of-type,.word--swing5 span span:last-of-type,.word--swing6 span span:last-of-type {
	transform-style: preserve-3d;
}
